div.jumbotron {
  padding: 20pt;
  margin-bottom: 50pt;
  text-align: center;
}

div.section:hover {
  background-color: #222;
}

nav {
  background-color: #000;
}

footer {
  background-color: #000;
  padding-top: 20pt;
  padding-left: 20pt;
  padding-right: 20pt;
  padding-bottom: 2vh;
  margin-top: 50pt;
  color: #999;
  width: 100%;
  bottom: 0;
}
